<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.almeida.natanaels.identity_physical_movements">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".Activity.MainActivity"
            tools:ignore="InnerclassSeparator"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.AcquisitionActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <activity android:name=".Activity.EvaluationActivity"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

    </application>

</manifest>